header {
    color: rgb(8, 83, 8);
    background-color: rgb(223, 223, 134);
    text-align: center;
}

img {
    max-width: 200px;
    max-height: 200px;
}

.saltamontes-caja, .abeja-caja  {
    border: 10px solid darkgreen;
}

.saltamontes-caja, .abeja-caja, form {
    margin: 10px;
}

#noventa {
    font-weight: bold;
}

p {
    font-size: 20pt;
    margin: 0pt;
}

footer {
    background-color: rgb(223, 223, 134);
    color: rgb(8, 83, 8);
    text-align: center;
    padding: 10px;
}